@font-face {
  font-family: 'Exo 2 Regular';
  src: url("../../assets/fonts/Exo2-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Exo Expanded';
  src: url("../../assets/fonts/Exo2-MediumExpanded.otf"); }

h1, h2, h3 {
  font-family: 'Exo Expanded'; }

body {
  font-size: 15px;
  font-family: 'Exo 2 Regular', sans-serif; }

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0; }
