@media only screen and (min-width: 1024px) {
  //Variables
  $offset-height: -2rem;
  
  //Grid
  main {
    display: grid;
    grid-template-columns: 1fr repeat(12, 1fr) 1fr;
  }

  header {
    grid-row: 1 / 2;
    grid-column: 1 / 9;
  }

  section#section-motto {
    grid-row: 2 / 3;
    grid-column: 3 / 15;
    padding: 4rem 0;
  }

  section#section-about {
    grid-row: 3 / 4;
    grid-column: 1 / 14;
  }

  section#section-skills {
    grid-row: 4 / 5;
    grid-column: 1 / 13;
    z-index: -99;
    padding: 4em 0;
  }

  section#section-samples {
    grid-row: 5 / 6;
    grid-column: 1 / 15;
  }

  section#section-contact {
    grid-row: 6 / 7;
    grid-column: 1 / 15;
  }

  //Structural Components

  body{
      font-size: 21px;
  }

  nav {
    flex-flow: row;
    align-items: flex-end;
  }

  //Copy Components
  #logo {
    margin: 0 3rem;
    margin: 0 0 4rem 1rem;
  }

  //Menus
  #nav-menu {
    margin-bottom: 3.75rem;
  }

  #nav-menu li {
    margin-left: 3rem;
  }

  #section-about {
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-template-areas:
      '. heading heading'
      '. text image';
  }

  //Projects

  .project-image {
    max-width: 600px;
  }
}
