@media only screen and (min-width: 768px) {
  //Grid
  main {
    grid-template-columns: 1rem 1fr 1rem;
  }

  header {
    grid-column: span 3;
  }

  section {
    grid-column: 2 / span 1;
  }

  //Structural Components
  body {
      font-size: 18px;
  }
  nav {
    flex-grow: 1;
  }

  //Copy Components
  #logo {
    width: 8rem;
    margin: 1rem 0 $line-break 1rem;
  }

  //Menus
  #nav-menu {
    justify-content: flex-end;
    align-items: flex-end;
  }

  #nav-menu li {
    margin-left: 2rem;
  }

  //Section (About)
  #section-about {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 3fr 2fr minmax(0, 1fr);
    grid-template-rows: 3rem 1fr;
    grid-template-areas:
      '. heading heading .'
      '. text image .';
  }

  #section-about h2 {
    grid-area: heading;
    margin-left: 1.5rem;
  }

  #section-about img {
    grid-area: image;
    width: 100%;
  }

  .about-text {
    grid-area: text;
  }

  //Projects

  #projects {
    display: flex;
    align-items: center;
  }

  .project-screenshot {
    margin-left: 3rem;
  }

  .project-image {
    max-width: 400px;
  }
  .project-data {
    margin-right: 3rem;
  }

  .project-links {
    background-color: $accent-2;
    padding-bottom: 0;
    margin: 0 1rem;
  }

  .project-links a {
    background-color: $accent-1;
    padding: 1em;
    margin: 0 0.5rem;
  }

  //Type Elements
  p {
    max-width: 20rem;
  }
}
