//Styled as hero copy.

.hero-copy {
  background-color: $accent-1;
  z-index: -99;
}

#logo {
  margin: 1rem 0 $line-break 1rem;
}

#logo img {
  width: 8rem;
}

p.p--break {
  margin-bottom: $line-break;
}

section img{
  margin-bottom: 3rem;
}