//Styled as hero copy.

.hero-copy {
  background-color: $accent-1;
  z-index: -99;
  @include breakpoint(mobiletablet){
    margin: -1rem 0;
  }
  @include breakpoint(desktop) {
  }
}

#logo {
  @include breakpoint(mobile){
    width: 5.5rem;
    margin: 1rem 0 $line-break 1rem;
  }
  @include breakpoint(tablet){
    width: 8rem;
    margin: 1rem 0 $line-break 1rem;
  }
  @include breakpoint(desktop){
    margin: 0 3rem;
    margin: 0 0 4rem 1rem;
  }
}
#logo img {
  width: 8rem;
}

p.p--break {
  margin-bottom: $line-break;
}

#section-about {
  background-image: url('assets/images/woods.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section img{
  margin-bottom: 3rem;
}