//Styled as hero copy.

@mixin border-hero-copy {
      p {
        padding: 1rem 0;
        font-size: 1.25em;
        border-top: $accent-1;
      }
  }

.hero-copy {
  background-color: $accent-1;
  z-index: -99;
  margin: -1rem;
}

#logo {
  @include breakpoint(mobile){
    width: 5.5rem;
    margin: 1rem 0 $base-line-height 1rem
  }
  @include breakpoint(tablet){
    width: 8rem;
  }
}

