#nav-menu {
    display: flex;
    @include breakpoint(mobile) {
        justify-content: space-around;
    }
    @include breakpoint(tablet) {
        justify-content: flex-end;
        align-items: flex-end;
    }
    @include breakpoint(desktop) {
        margin-bottom: 3.75rem;
    }
}

#nav-menu li {
    @include breakpoint(tablet) {
    margin-left: 2rem;
    }
    @include breakpoint(desktop) {
    margin-left: 3rem;
    }
}

#nav-menu:last-child {
    @include breakpoint(tablet){
    margin-right: 2rem;
    }
}

#nav-menu a {
    text-decoration: none;
    color: $primary-base;
    font-family: $font-stack-header;
}