/* Creates a pinched border effect on an element's border */
@mixin pinch-border($radius) {
    border-bottom-right-radius: $radius;
    border-top-left-radius: $radius;
  }

/*A background image that gives the illusion of fading as you move down the screen. */
  @mixin accent-gradient {
    background-image: linear-gradient(to bottom, mix($accent-2, $accent-1, 10), $accent-2 50%);
    background-attachment: fixed;
    background-size: 100vw 100vh;
  }

  /**
  * A mixin designed for inherently transparent or low opacity set image backgrounds that are off-register by a set margin on top, with variable image and size.
  */
  @mixin off-register-background($url, $margin: -1rem, $size: 780px) {
    margin-top: $margin;
    background-image: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: top;
    background-color: none;
    background-attachment: fixed;
  }

/* changes element AND all contents to display: none; */
// @mixin display-none {
//     display: none;
//     * {
//         display: none;
//     }
// }