//#section-samples{}
//#projects

#projects {
    @include breakpoint(tabletdesktop) {
        display: flex;
        align-items: center;
    }
}

.project-screenshot {
    display: flex;
    align-items: center;
    flex-flow: column;
    @include breakpoint(tablet) {
        margin-left: 3rem;
    }
}

.project-image {
    @include breakpoint(mobile) {
        max-width: 320px;
    }
    @include breakpoint(tablet) {
        max-width: 400px;
    }
    @include breakpoint(desktop) {
        max-width: 600px;
    }
}
.project-data {
    @include breakpoint(mobile) {
        margin: 0 1rem;
    }
    @include breakpoint(tabletdesktop){
        margin-right: 3rem;
    }
}

#projects h3, #projects h4 {
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
}

.project-links {
    padding-bottom: $line-break;
    display: flex;
    justify-content: center;
    @include breakpoint(mobile) {
        border-bottom: 2px solid;
    }
    @include breakpoint(tabletdesktop) {
        background-color: $accent-2;
        padding-bottom: 0;
        margin: 0 1rem;
    }
}

.project-links a {
    @include breakpoint(tabletdesktop){
        background-color: $accent-1;
        padding: 1em;
        margin: 0 .5rem;
    }
}

.project-links a:hover {
    background-color: lighten($accent-1, 15%);
}
.project-links a:active {
    background-color: darken($accent-1, 25%);
}
.project-links a:visited {
    background-color: darken($accent-1, 15%);
}

.project-links a:first-child:after {
    @include breakpoint(mobile) {
        content: "||";
        margin: 0 1rem;
    }
}