* {
    box-sizing: border-box
  }

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $primary-base;
    margin: 0;
    padding: 0;
    color: $accent-primary;
    line-height: $base-line-height;
    border-color: $border-color;
    @include breakpoint(mobile) {
      font-size: 16px;
    }
    @include breakpoint(tablet) {
      font-size: 18px;
    }
    @include breakpoint(desktop) {
      font-size: 21px;
    }
  }
  
  main {
    margin-bottom: 2rem;
  }

  section:nth-child(even) {
    background-color: $accent-1;
  }
  
  nav,
  footer { 
    color: $primary-base;
    display: flex;
    background-color: $accent-primary;
    border-color: $accent-1;
    height: 100px;
  }
  
  nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: -99;
    background-image: linear-gradient(180deg, $accent-primary 0%, #bebebe 99%);
    display: flex;

    @include breakpoint(mobile) {
      min-height: 8rem;
    }

    @include breakpoint(mobiletablet) {
      flex-flow: column;
    }

    @include breakpoint(tablet){
      flex-grow: 1;
    }

    @include breakpoint(desktop){
      flex-flow: row;
    }
  }
  
  header {
    @include breakpoint(mobile){
      @include off-register-background('/assets/images/brickwall.png', default, default);
    }
  }
  
  header, section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  section {
    display: flex;
    flex-flow: column;
    padding: 3rem 0;
    // border: 1px solid $accent-primary;
  }

  section img {
    @include accent-gradient;
  }
  
  footer {
    background-image: linear-gradient(0deg, $accent-primary 0%, #bebebe 99%);
    min-height: 100px;
    width: 100%;
  }
