* {
    box-sizing: border-box
  }

body {
    background: $primary-base;
    margin: 0;
    padding: 0;
    color: $accent-primary;
    line-height: $base-line-height;
    border-color: $border-color;
    @include breakpoint(mobile) {
      font-size: 16px;
    }
    @include breakpoint(tablet) {
      font-size: 18px;
    }
    @include breakpoint(desktop) {
      font-size: 21px;
    }
  }
  
  main {
    margin-bottom: 2rem;
    display: grid;
  }

  section:nth-child(even) {
    background-color: $accent-1;
  }
  
  nav,
  footer { 
    color: $primary-base;
    display: flex;
    background-color: $accent-primary;
    border-color: $accent-1;
    height: 100px;
  }
  
  nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: -99;
    background-image: linear-gradient(180deg, $accent-primary 0%, #bebebe 99%);
    display: flex;

    @include breakpoint(mobile) {
      min-height: 8rem;
    }

    @include breakpoint(mobiletablet) {
      flex-flow: column;
    }

    @include breakpoint(tablet){
      flex-grow: 1;
    }

    @include breakpoint(desktop){
      flex-flow: row;
    }
  }
  
  header {
    margin-top: -1rem;
    background-image: url('/assets/images/brickwall.png');
    background-size: 780px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: none;
    background-attachment: fixed;
    grid-column: span 6;
    padding: 3rem 0;
  }
  
  header, section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  section {
    grid-column: 2 / span 4;
    /* grid-column: 2 / span 2; */
    min-height: 200px;
    padding: 0 1.5rem;
    // border: 1px solid $accent-primary;
  }

  section img {
    @include accent-gradient;
  }
  
  footer {
    background-image: linear-gradient(0deg, $accent-primary 0%, #bebebe 99%);
    min-height: 100px;
    width: 100%;
    padding: 1rem;
  }

  
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}