h1, h2, h3 {
    font-family: $font-stack-header;
}

body {
    font-size: $base-font-size;
    font-family: $font-stack-copy;
}

hgroup {
    // display: flex;
    // flex-flow: column;
    // justify-content: center;
    // align-items: center;
    @include breakpoint(mobile) {
        text-align: center;
    }
    margin: 3rem 0;
}

a {
    color: $accent-2;
  } 

section ul {
    margin-bottom: $line-break;
}