/* Settings */
@import 'font-stack';
@import 'variables';
/* Tools */
@import 'breakpoints';
@import 'mixins';
/* Generic */
@import 'normalize';
/* Elements */
@import 'type-elements';
@import 'structural-elements';
@import 'grid';
/* Object */
/* Components */
@import 'copy-components';
@import 'menus';
/*Scope: button, blockquote, .
// 


/* Queries */

@media only screen and (max-width: 767px) {

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
  p {
    max-width: 300px;
  }

  main {
    grid-template-columns: 1rem repeat(4, 1fr) 1rem;
  }
} 

