h1, h2, h3, h4, h5 {
    margin-block-start: 0;
    margin-block-end: $line-break;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

address {
    display: block;
    font-style: normal;
}