/* Colors */
$primary-base: #330033;
$accent-primary: #cebebe;
$accent-1:  #336666;
$accent-2: #ffcc33;
$accent-3: #cccc99;

/* Font */
$base-font-size: 15px;
$base-line-height: 1.5rem;
$line-break: $base-line-height;

/* Application */

//Borders
$border-color: $accent-1;
$border-style: solid;
